<%= tag.div class: "settings__panel settings__panel--users panel shadow center", data: {
  controller: "filter navigable-list",
  action: "keydown->navigable-list#navigate filter:changed->navigable-list#reset",
  navigable_list_focus_on_selection_value: true,
  navigable_list_actionable_items_value: true
} do %>
  <h2 class="divider txt-large">People on the account</h2>
  <%#= render "accounts/invite" # Scheduled work in https://3.basecamp.com/2914079/buckets/37331921/todos/8746162337 %>

  <div class="settings__user-filter">
    <input placeholder="Filter…" class="input input--transparent full-width" type="search" autocorrect="off" autocomplete="off" data-1p-ignore="true" data-filter-target="input" data-action="input->filter#filter">

    <ul class="settings__user-list" data-filter-target="list">
      <%= render partial: "accounts/user", collection: users %>
    </ul>

    <footer class="settings__user-list-tips">
      Press <kbd class="kbd">↑</kbd><kbd class="kbd">↓</kbd> to move, <kbd class="kbd">enter</kbd> to visit profile, <kbd class="kbd">SHIFT+ENTER</kbd> to toggle.
    </footer>
  </div>
<% end %>
