<%= tag.button class:"fizzy-menu-trigger input input--select center flex-inline align-center txt-normal",
      data: {
            action: "click->dialog#open:stop keydown.j@document->hotkey#click keydown.meta+j@document->hotkey#click keydown.ctrl+j@document->hotkey#click",
            controller: "hotkey" } do %>
  <span><%= image_tag "fizzy-logo.png" %></span>
  <strong class="txt-medium overflow-ellipsis margin-none">Boxcar</strong>
<% end %>