<section id="not-now" class="cards cards--on-deck is-collapsed" style="--card-color: var(--color-card-complete);"
  tabindex="0"
  data-collapsible-columns-target="column"
  data-drag-and-drop-target="container"
  data-drag-and-strum-target="container"
  data-navigable-list-target="item"
  data-column-name="Not Now"
  data-action="turbo:before-morph-attribute->collapsible-columns#preventToggle focus->collapsible-columns#focusOnColumn"
  data-drag-and-drop-url="<%= columns_card_drops_not_now_path("__id__") %>"
>
  <div class="cards__transition-container" data-controller="navigable-list" data-navigable-list-support-horizontal-navigation-value="false" data-navigable-list-prevent-handled-keys-value="true" data-navigable-list-auto-select-value="false" data-navigable-list-actionable-items-value="true" data-action="keydown->navigable-list#navigate">
    <header class="cards__header">
      <%= render "boards/show/expander", title: "Not Now", count: board.cards.postponed.count, column_id: "not-now" %>
      <%= render "boards/show/menu/maximize", column_path: board_columns_not_now_path(board) %>
    </header>
    <%= column_frame_tag :not_now_column, src: board_columns_not_now_path(board) %>
  </div>
</section>
