<div class="collection-tools card">
  <%= button_to collection_cards_path(collection), method: :post, class: "btn btn--link", form: { data: { turbo_frame: "_top" } }, data: { controller: "hotkey", action: "keydown.c@document->hotkey#click" } do %>
    <span>Add a card</span>
    <kbd>C</kbd>
  <% end %>

  <hr class="separator--horizontal full-width" aria-hidden="true">

  <footer>
    <%= access_involvement_advance_button(collection, Current.user, show_watchers: true) %>
  </footer>
</div>
